<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="LFCDal.WCFSvr.DBDal" behaviorConfiguration="VirtualLFC_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.245:5003/LFCDal"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="VirtualLFC_Binding" contract="LFCDal.WCFSvr.IDBDal"></endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="MEX" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VirtualLFC_Behavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://192.168.1.245:9002"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="VirtualLFC_Binding" receiveTimeout="00:30:00" sendTimeout="00:30:08" maxBufferSize="67108864" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864" transferMode="Buffered">
          <readerQuotas maxStringContentLength="20971520" maxArrayLength="20971520"/>
          <reliableSession enabled="true"/>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="SqlServerConnStr" connectionString="data source=192.168.1.50;initial catalog=LMS_City_LFC;user id=sa;password=LH*SqlTest;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="SqliteConnStr" connectionString="data source=#PATH#\LHCTUDB.db;page size=4096;useutf16encoding=True" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--<add key ="DBType" value ="Business.SqlServerBLL"/>-->
    <add key="DBType" value="Business.SqliteBLL"/>
  </appSettings>  
</configuration>
