<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDalSvr">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.1.245:5006/DalSvr" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IDalSvr" contract="IDalSvr"
          name="NetTcpBinding_IDalSvr" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- DEBUG|INFO|WARN|ERROR|FATAL -->
    <add key="_LOG_LEVEL_" value="DEBUG"/>
    <!-- 日志文件路径+文件名（不含文件扩展名）（默认SimpleLogger） -->
    <add key="_LOG_FILE_" value="Log\Log_"/>
    <!-- 日志文件的最大长度（单位：字节）（不得小于 1024字节，即 1K）（默认1M = 1*1024*1024=1048576） 当日志文件超过该大小时会自动重建 -->
    <add key="_LOG_FILE_MAX_SIZE_" value="1048576"/>
    <!-- 日志文件是否按命名空间分开存储的配置节关键字: TRUE|FALSE （默认FALSE） -->
    <add key="_LOG_SPLIT_" value="TRUE"/>
    <!-- 异步写入日志标示，TRUE：新启线程采用日志队列方式异步写入，FALSE：直接写入日志文件（默认FALSE） -->
    <add key="_LOG_ASYN_" value="TRUE"/>
    <!-- 异步写入时，当日志队列为空的等待毫秒数（必须大于等于0，为0则没有等待时间(较耗资源)；可不配置，默认100毫秒）（_LOG_ASYN_必须配置TRUE，该项才起作用） -->
    <add key="_LOG_ASYN_WAIT_" value="100"/>
    <!-- 异步写入线程是前台线程还是后台线程（对应Thread.IsBackground属性），TRUE后台线程，FALSE前台线程（默认FALSE）（_LOG_ASYN_必须配置TRUE，该项才起作用） -->
    <add key="_LOG_ASYN_THREAD_BACKGROUND_" value="TRUE"/>

    <add key="AdapterIP" value="192.168.1.245"/>
    <add key="AdapterPort" value ="60180"/>

    <add key="DBEndPoint" value="NetTcpBinding_IDalSvr"/>

  </appSettings>
</configuration>